.contact-container {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.chat-container {
  width: 70%;
  padding: 10px;
  background-color: #fff;
}

.logout-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c82333;
}

.logout-button:active {
  transform: scale(0.95);
}

.input-contact {
  display: flex;
  margin-bottom: 10px;
  background-color: #fff;
}

.input-contact-field {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.add-chat-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-chat-button:hover {
  background-color: #218838;
}

.add-chat-button:active {
  transform: scale(0.95);
}

.contact-item {
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-item:hover {
  background-color: #e2e6ea;
}

.message-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 400px;
  overflow-y: auto;
  background-color: #f0f0f0;
}

.message {
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
}

.message-me {
  align-self: flex-end;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  max-width: 60%;
  word-wrap: break-word;
}

.message-other {
  align-self: flex-start;
  background-color: #e7e1e2;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  max-width: 60%;
  word-wrap: break-word;
}

.message-input {
  display: flex;
  align-items: center;
}

.message-input-field {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.send-button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.send-button:hover {
  background-color: #218838;
}

.send-button:active {
  transform: scale(0.95);
}